.login-container {
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-form .MuiTextField-root {
    margin-bottom: 1rem;
  }
  
  .register-link {
    margin-top: 1rem;
    display: block;
    text-align: center;
    color: #1976d2;
    text-decoration: none;
    font-weight: bold;
  }
  
  .register-link:hover {
    text-decoration: underline;
  }
  
  .login-form .MuiButton-root {
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    border: 0;
    border-radius: 3px;
    box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
    color: white;
    height: 48px;
    padding: 0 30px;
  }
  